a {
  color: rgb(142, 213, 237);
}

body {
  margin: 10px;
  height: 100vh;
  background-color: black;
  font-family: Tahoma, sans-serif;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}

.header {
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: #0F011E;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  flex-wrap: wrap;
}

.header-logo {
  max-height: 120px;
}

.content {
  background-color: #0F011E;
  height: 120px;
  font-size: larger;
  color: yellow;
}

.votes {
  background-color: #0F011E;
  height: 120px;
  font-size: larger;
  color: rgb(112, 49, 69);
}

.get-another {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer {
  margin-top: 60px;
  margin-bottom: 5px;
  background-color: #0F011E;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  flex-wrap: wrap;
}

.footer-logo {
  padding: 1%;
  width: 100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.3;
}

button {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.vote-button {
  background-color: #322d23;
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  border-radius: 12px;
  margin: 5px;
}

