<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <title>Joker</title>
</head>
<body>
  <div class="container">
    <h1>Joke</h1>
    <p id="joke">...</p>
    <button 
      hx-get="/joke"
      hx-target="#joke"
      hx-trigger="click, load"
      hx-swap="innerHTML">
      Get Next Joke
    </button>
  </div>
</body>