<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <title>Joker</title>
  <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
  <div class="header">
    <img class="header-logo" src="/static/banner.png" alt="Joker">
  </div>
  <div class="content">
    <div><p id="joke"><img src="/static/spinner.gif"></p></div>
  </div>
  <div class="votes">
    <div><p id="votes"></p></div>
  </div>
  <div class="get-another">
    <button
      id="nextJokeButton"
      hx-get="/joke"
      hx-target="#joke"
      hx-trigger="click, load"
      hx-swap="innerHTML">
      Get Another Joke
    </button>
  </div>
  <div class="footer">
    <a href="https://github.com/Costa365/Joker" target="_blank"><img class="footer-logo" src="/static/github-logo.png" alt="GitHub"></a>
    <a href="https://htmx.org/" target="_blank"><img class="footer-logo" src="/static/htmx-logo.png" alt="Htmx"></a>
    <a href="https://go.dev/" target="_blank"> <img class="footer-logo" src="/static/go-logo.png" alt="Go"></a>
    <a href="https://turso.tech/" target="_blank"><img class="footer-logo" src="/static/turso-logo.png" alt="Turso"></a>
    <a href="https://www.docker.com/" target="_blank"><img class="footer-logo" src="/static/docker-logo.png" alt="Docker"></a>
  </div>

  <script>
    document.getElementById('nextJokeButton').addEventListener('click', function() {
      var jokeElement = document.getElementById('joke');
      var votesElement = document.getElementById('votes');
      jokeElement.innerHTML = '<img src="/static/spinner.gif">';
      votesElement.innerHTML = '';
    });
  </script>

</body>